body {
  font-family: Arial,sans-serif;
    background-color: #ffffff;
}

hr {
    border-style:solid;
    border-color:lighter;
    border-width:0.01px;
}
radio {
    border-color:lighter;
    border-width:0.1px;
}
    
/* Container */
.container {
    max-width:650px; /* takes up 100% of the viewport width */
    max-height: 80vh; /* takes up 100% of the viewport height */
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  color: #ffffff;
  font-size: 0.7em;
}

.header .icons i {
  margin-left: 20px;
}

/* Content */
.content h1 {
  color: #333;
  text-align:left;
}

.info p {
  display: flex;
  font-size:0.7;
  justify-content: space-between;
  align-items: left;
}

.info span {
  disply:inline-block;
  color: #555;
  font-size:0.7em;
  font-weight:300;
  margin-top:22px;
}

.info p2 {
  display: flex;
  font-size:0.7;
  justify-content: space-between;
  align-items: left;
}

.info span1 {
  color: #555;
  margin-top:0;
  font-size:0.7em;
  font-weight:300;
}
.info strong {
    disply:inline-block;
    font-size:0.7em;
    color:#333;
    margin-right:10px;
    margin-left:0;
    margin-bottom:12px;
    font-family:Arial;
}

button {
  width: 60px;
  height:50px;
  margin-bottom:5px;
  background-color: #ffffff;
  color: #4c9de5;
  border: 1px solid #4c9de5;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
}


/* Section Title */
.section-title {
  color: #007bff;
  font-size: 0.7em;
  font-weight:250;
  margin-bottom: 5px;
  display: inline-block;
}

/* Payment Options */
.payment-options {
  margin: 5px 0;
}

.payment-options label {
  display: flex;
  align-items: left;
  margin: 15px 0px;
}

.payment-options img {
  margin-right: 100px;
  margin-left:70px;
}

/* UTR Instruction */
.utr-instruction {
  color: #007bff;
  margin-top:10px;
  margin-bottom:10px;
  font-size: 0.7em;
  font-weight:250;
}


#utr {
  margin-right:30px;
  border:0 solid rgba(0, 0, 0, 0.5);
  font-size:0.em;
}

.inline-elements {
  display: flex;
  font-size:0.9em;
  font-weight:300;
  color:rgba(0, 0, 0, 0.0);;
}
.inline-elements input {
  display: flex;
  width: 100%;
  height:20px;
  margin-left:40px;
  align-items:right;
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
  font-size: 0.9em;
  outline: none;
  color: #333;
}
.inline-elements input:placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.inline-elements input:placeholder:hover {
    background-color: rgba(0, 0, 0, 0.0);
}
.inline-elements span {
  disply:flex;
  color: #333;
  margin-top:5px;
  font-size:0.9em;
  font-weight:500;
  text-align:right;
  margin-left:10px;
  }
  
.inline-elements input::placeholder {
            color: rgba(0, 0, 0, 0.5); /* 50% transparent black placeholder text */
}
.inline-elements input text{
     /* Remove default focus border */
}
        
/* Submit Button */
.submit-btn {
  width: 100%;
  height:50px;
  padding:0 5px;
  background-color: #1989f9;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 0.7em;
}
.submit-btn:hover {
    background-color: #1989f9;
}

.error-btn {
  width: 100%;
  height:50px;
  padding:0 5px;
  background-color: #ff976a;
  color: white;
  border: none;
  border-radius:50px;
  font-size:0.7em;
  margin-top: 10px;
}
.error-btn:hover {
    background-color: #ff976a;
}
.inline-elements2 {
  width: 100%;
  height:10px;
}
.van-row {
  align:center;
  justify:center;
  font-weight:lighter;
  margin-top: 1rem;
  font-size: 0.5rem;
  color: rgb(136, 134, 134);
}

/* Notification Popup */
.notification {
  width: 100%;
  position: fixed;
  top: 1px;
  left: 50%;
  right: 50%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  display: none;
  animation: slideIn 1s ease, fadeOut 1s ease 3s;
}

.notification.error {
  background-color: #ff1a1a;
}

@media (min-width:400px) and (max-width: 800px) {
    .body {
        background-color: #ffffff;
}

@keyframes slideIn {
  from { opacity: 1; top: 1px; }
  to { opacity: 1; top: 1px; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 1; }
}