body {
  font-family:sans-serif;
  font-size:1em;
    background-color: #FFFFFF;
}

hr {
    border-style:solid;
    border-color:lightgray;
    border-width:0.1px;
}
radio {
   background-color: #FFFFFF;
    border-color:lightgray;
    border-width:0.1px;
}
    
/* Container */
.container {
    max-width: 650px; /* takes up 100% of the viewport width */
    max-height:1024px; /* takes up 100% of the viewport height */
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  color: #FFFFFF;
  font-size: 1em;
}

.header .icons i {
  margin-left: 20px;
}

/* Content */
.content h1 {
  color: #333;
  text-align:left;
}

.info p {
  display: flex;
  font-size:1em;
  justify-content: space-between;
  align-items: left;
}

.info span {
  disply:inline-block;
  color: #555;
  font-size:1em;
  font-weight:400;
  margin-top:8px;
  margin-left:10px;
}

.info p2 {
  display: flex;
  font-size:1em;
  justify-content: space-between;
  align-items: left;
}

.info span1 {
  disply:inline-block;
  color: #555;
  font-size:1em;
  font-weight:400;
  margin-top:0;
  margin-left:5px;
}
.info strong {
    disply:inline-block;
    font-size:0.7em;
    font-weight:800;
    color:#333;
    margin-right:5px;
    margin-left:0;
    margin-bottom:15px;
}
.info h3 {
    disply:inline-block;
    font-size:0.7em;
    font-weight:800;
    color:#333;
    padding:0 5px;
    margin-left:0;
    margin-bottom:0px;
}

button {
  width: 60px;
  height:50px;
  margin-bottom:5px;
  background-color: #FFFFFF;
  color: #4c9de5;
  border: 1px solid #4c9de5;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #FFFFFF;
}


/* Section Title */
.section-title {
  color: #007bff;
  font-size: 0.7em;
  font-weight:300;
  margin-bottom: 5px;
  display: inline-block;
}

/* Payment Options */
.payment-options {
  margin: 5px 0;
}

.payment-options label {
  display: flex;
  align-items: left;
  padding:0 5px;
  margin: 15px 0px;
}

.payment-options img {
  margin-right: 100px;
  margin-left:70px;
}

/* UTR Instruction */
.utr-instruction {
  color: #007bff;
  margin-top:10px;
  margin-bottom:10px;
  font-size: 0.7em;
  font-weight:300;
}


#utr {
  margin-right:30px;
  border:0 solid rgba(0, 0, 0, 0.5);
  font-size:0.em;
}

.inline-elements {
  display: flex;
  font-size:0.9em;
  font-weight:300;
  color:rgba(0, 0, 0, 0.5);;
}
.inline-elements input {
  display: flex;
  width: 100%;
  height:20px;
  margin-left:40px;
  align-items:right;
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
  font-size: 1em;
  outline: none;
  color: #333;
}
.inline-elements input:placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.inline-elements input:placeholder:hover {
    background-color: rgba(0, 0, 0, 0.0);
}
.inline-elements span {
  disply:flex;
  color: #333;
  margin-top:5px;
  font-size:0.8em;
  font-weight:400;
  text-align:right;
  margin-left:30px;
  }
  
.inline-elements input::placeholder {
            color: rgba(0, 0, 0, 0.5); /* 50% transparent black placeholder text */
}
.inline-elements input text{
     /* Remove default focus border */
}
        
/* Submit Button */
.submit-btn {
  width: 100%;
  height:50px;
  padding:10px 0;
  background-color: #1989f9;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 0.7em;
  font-weight:300;
  margin-top: 5px;
}
.submit-btn:hover {
    background-color: #1989f9;
}

.error-btn {
  width: 100%;
  height:50px;
  padding:10px 0;
  background-color: #ff976a;
  color: white;
  border: none;
  border-radius:50px;
  font-size:0.7em;
  font-weight:300;
  margin-top: 10px;
}
.error-btn:hover {
    background-color: #ff976a;
}
.inline-elements2 {
  diaply:flex;
  align:center;
  margin-bottom:30px;
}


/* Notification Popup */
.notification {
  width: 100%;
  position: fixed;
  top: 1px;
  left: 50%;
  right: 50%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 8px 8px;
  border-radius: 5px;
  display: none;
  animation: slideIn 1s ease, fadeOut 1s ease 3s;
}

.notification.error {
  background-color: #ff1a1a;
}

@media (min-width:200px) and (max-width: 800px) {
    .body {
        background-color: #FFFFFF;
}

@keyframes slideIn {
  from { 
    opacity: 1; 
    top: 1px; 
  }
  to { 
    opacity: 1; 
    top: 1px; 
  }
}

@keyframes fadeOut {
  from { 
    opacity: 1; 
  }
  to { 
    opacity: 1; 
  }
}