body {
  font-family: Arial,sans-serif;
    padding:5px 0;
    background-color: #ffffff;
}

hr {
    border-style:solid;
    border-color:lightgray;
    border-width:0.1px;
}
input::placeholder {
            color: rgba(0, 0, 0, 0.5); /* 50% transparent black placeholder text */
}
input {
    border: none;
    background-color: transparent; /* Transparent background */
    padding: 10px;
    font-size: 0.9em;
    outline: none; /* Remove default focus border */
}
/* Container */
.container {
    max-width:650; /* takes up 100% of the viewport width */
    max-height: 80vh; /* takes up 100% of the viewport height */
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  color: #ffffff;
  font-size: 1em;
}

.header .icons i {
  margin-left: 20px;
}

/* Content */
.content h1 {
  margin-bottom: 0.1px;
  color: #333;
  text-align:left;
}

.info p {
  display: flex;
  font-size:0.7;
  justify-content: space-between;
  align-items: left;
}

.info span {
  disply:inline-block;
  color: #555;
  margin-top:0;
  font-size:0.7em;
  font-weight:300;
}

.info p2 {
  margin: 20px 5px;
  display: flex;
  font-size:0.7;
  justify-content: space-between;
  align-items: left;
}

.info span1 {
  color: #555;
  margin-top:0;
  font-size:0.7em;
  font-weight:300;
}
.info strong {
    disply:inline-block;
    font-size:0.7em;
    color:#333;
    font-family:Arial;
}

button {
  width: 80px;
  height:70px;
  margin-bottom:10px;
  background-color: #ffffff;
  color: #4c9de5;
  border: 1px solid #4c9de5;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
}


/* Section Title */
.section-title {
  color: #007bff;
  font-size: 0.7em;
  font-weight:300;
  margin-top: 5px;
  display: inline-block;
}

/* Payment Options */
.payment-options {
  margin: 5px 0;
}

.payment-options label {
  display: flex;
  align-items: left;
  margin: 15px 0px;
}

.payment-options img {
  margin-right: 100px;
  margin-left:70px;
}

/* UTR Instruction */
.utr-instruction {
  color: #007bff;
  font-size: 0.7em;
  font-weight:300;
  margin: 0px 0;
}


#utr {
  width: 80%;
  height:100%;
  padding: 10px;
  margin-left:10px;
  margin-top:0;
  border:0 solid rgba(255, 255, 255, 0.1);
  font-size: 0.9em;
}
#utr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.inline-elements {
  display: flex;
  align-items: center;
  padding:10px;
}
.inline-elements input {
  margin-left: 20px;
  font-size:0.7em;
  font-weight:300;
  color:#555;
}
        
/* Submit Button */
.submit-btn {
  width: 100%;
  height:65%;
  padding:15px;
  background-color: #1989f9;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 0.9em;
  margin-top: 10px;
}
.submit-btn:hover {
    background-color: #1989f9;
}

.error-btn {
  width: 100%;
  height:65%;
  padding: 15px;
  background-color: #ff976a;
  color: white;
  border: none;
  border-radius:50px;
  font-size:0.9em;
  margin-top: 10px;
}
.error-btn:hover {
    background-color: #ff976a;
}
.inline-elements2 {
  width: 100%;
  height:80%;
}
.van-row {
  align:center;
  justify:center;
  font-weight:lighter;
  margin-top: 1rem;
  font-size: 0.5rem;
  color: rgb(136, 134, 134);
}

/* Notification Popup */
.notification {
  width: 100%;
  position: fixed;
  top: 1px;
  left: 50%;
  right: 50%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  display: none;
  animation: slideIn 1s ease, fadeOut 1s ease 3s;
}

.notification.error {
  background-color: #ff1a1a;
}

@media (min-width:400px) and (max-width: 800px) {
    .body {
        background-color: #ffffff;
}

@keyframes slideIn {
  from { opacity: 1; top: 1px; }
  to { opacity: 1; top: 1px; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 1; }
}