
body {
  font-family: 'Arial', sans-serif;
    max-width:650px;
    max-height:750px;
    padding:5px;
    margin:0px 5px;
    background-color: #ffffff;
}
hr {
    border-style:solid;
    border-color:lightgray;
    border-width:0.20px;
}

/* Container */
.container {
  width: auto;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: left;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  color: #333;
  font-size: 0.9em;
}

.header .icons i {
  margin-left: 100px;
}

/* Content */
.content h1 {
  font-size: 1em;
  margin-bottom: 100px;
  color: #333;
  text-align:left;
}

.info p {
  margin: 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.info span {
  color: #555;
  margin-top:20px;
}

.info p2 {
  margin: 40px 5px;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.info span1 {
  color: #555;
}
strong {
    font-size:0.9em;
    margin-left:100px;
    justify-content: space-between;
}

button {
  padding: 20px 20px;
  background-color: #ffffff;
  color: blue;
  font-size:0.9em;
  border: 1px solid #007bff;
  border-radius: 5px;
  justify-content: space-between;
  cursor: pointer;
}

button:hover {
  background-color: #f5f5f5;
}

/* Section Title */
.section-title {
  color: #007bff;
  font-size: 0.9em;
  margin-top: 0px 0;
  display: inline-block;
}

/* Payment Options */
.payment-options {
  margin: 0px 0;
}

.payment-options label {
  display: flex;
  align-items: left;
  margin: 20px 5px;
}

.payment-options img {
  margin-right: 200px;
  margin-left:80px;
}

/* UTR Instruction */
.utr-instruction {
  color: #007bff;
  font-size: 0.9em;
  margin: 0px 0;
}

#utr {
  width: 85%;
  height:100%;
  padding: 10px;
  margin-left:45px;
  margin-top:0px;
  border:0px solid #ffffff;
  border-color:#ffffff;
  font-size: 0.9em;
}

/* Submit Button */
.submit-btn {
  width: 100%;
  height:90%;
  padding: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  font-size:1em;
  margin-top: 10px;
}
.submit-btn:hover {
    background-color: #007bff;
}

.error-btn {
  width: 100%;
  height:90%;
  padding: 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1em;
  margin-top: 10px;
}
.error-btn:hover {
    background-color: #ff6347;
}

/* Notification Popup */
.notification {
  width: 100%;
  position: fixed;
  top: 1px;
  left: 50%;
  right: 50%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  display: none;
  animation: slideIn 1s ease, fadeOut 1s ease 3s;
}

.notification.error {
  background-color: #FF5722;
}

@keyframes slideIn {
  from { opacity: 1; top: 2px; }
  to { opacity: 1; top: 1px; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 1; }
}