/* Font and Base Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: Arial,sans-serif;
  height: auto;
  width: auto;
  background-color: #FDFEFE;
  margin: auto;
  padding: 20px;
}

/* Container */
.container {
  width: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: left;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  color: #333;
  font-size: 0.9em;
}

.header .icons i {
  margin-left: 10px;
}

/* Content */
.content h1 {
  font-size: 0.9em;
  margin-bottom: 20px;
  color: #333;
  text-align: left;
}
.content strong{
  color: #333;
  font-size: 0.9em;
  text-align: right;

.info p {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.info span {
  color: #555;
  font-size: 0.9em;
}

.button {
  padding: 10px 20px;
  background-color: #FDFEFE;
  color:DeepSkyBlue;
  border: 1px solid #00BFFF;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #f8f8f8;
}

/* Section Title */
.section-title {
  color: #007bff;
  font-size: 0.9em;
  margin-top: 20px;
  display: inline-block;
}

.hr {
  border: 0.2em #333;
  width: 100%;
}
/* Payment Options */
.payment-options {
  margin: 20px 0;
}

.payment-options label {
  display: flex;
  align-items: left;
  margin: 15px 10px;
}

.payment-options img {
  margin-left:20%;
}
/* UTR Instruction */
.utr-instruction {
  color: #007bff;
  font-size: 0.9em;
  margin: 10px 0;
}

#utr {
  width: 100%;
  padding: 10px;
  border: 0px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 0.9em;
  margin-left: 10%;
}

/* Submit Button */
.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  margin-top: 10px;
}

.error-btn {
  width: 100%;
  padding: 15px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  margin-top: 10px;
}


/* Notification Popup */
.notification {
  width: 100%;
  position: fixed;
  top: 10px;
  left: 50%;
  right: 50%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  animation: slideIn 0.5s ease, fadeOut 0.5s ease 2.5s;
}

.notification.error {
  background-color: #FF5722;
}

@keyframes slideIn {
  from { opacity: 0; top: 1px; }
  to { opacity: 1; top: 1px; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}