
body {
  font-family: Arial,sans-serif;
    height: auto;
    width: auto;
    background-color: #FDFEFE;
    margin: auto;
    padding: 20px;

/* Container */
.container {
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: left;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  color: #333;
  font-size: 0.9em;
}


.header .icons i {
  margin-left: 10px;
}

/* Content */
.content h1 {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #333;
  text-align: left;
}

.info p {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.info span {
  color: #555;
}

button {
  padding: 12px 24px;
  background-color: #f8f8f8;
  color: DeepSkyBlue;
  border: 1px solid #00BFFF;
  padding: 1px 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

button:hover {
  background-color: #f8f8f8;
  transform: scale(1.05);
}

/* Section Title */
.section-title {
  color: #007bff;
  font-size: 0.9em;
  margin-top: 20px;
  display: inline-block;
}

/* Payment Options */
.payment-options {
  margin: 15px 0;
}

.payment-options label {
  display: flex;
  align-items: center;
  margin-canter: 8px 0;
}
hr {
    border: 0.1px  solid Gainsboro;
}

.payment-options img {
  width: 15px;
  height: 30px;
  margin-right:10px;
  margin-left:10px;
}

/* UTR Instruction */
.utr-instruction {
  color: #007bff;
  font-size: 0.9em;
  margin: 10px 0;
}

#utr {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  margin: auto;
  font-size: 1em;
}

/* Submit Button */
.submit-btn {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 45px;
  font-size: 1em;
  margin-top: 10px;
}

.error-btn {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 45px;
  font-size: 1em;
  margin-top: 10px;
}
.submit-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.error-btn:hover {
    background-color: #FF8000;
    transform: scale(1.05);
}



/* Notification Popup */
.notification {
  width: 100%;
  position: fixed;
  top: 10px;
  left: 50%;
  right: 50%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  animation: slideIn 0.5s ease, fadeOut 0.5s ease 2.5s;
}

.notification.error {
  background-color: #FF5722;
}


@keyframes slideIn {
  from { opacity: 0; top: 10px; }
  to { opacity: 1; top: 20px; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@media only screen and (max-width: 1000px) 
