body {
  font-family:sans-serif;
  background-color: #FFFFFF;
  padding:0% 1%;
  max-width:100vw;
  max-height:100vh;
  width:95%;
  height:100%;
}

hr {
    border-style:solid;
    border-color:#5553;
    border-width:0.1px;
    max-width:100vw;
    max-height:100vh;
    width:100%;
    height:100%;
}
radio {
    border-style:solid;
    border-color:#555;
    border-width:0.1px;
    border-size:50px;
}

button {
  width:fixed;
  height:fixed;
  width:90px;
  height:70px;
  margin-bottom:1px;
  background-color: #FFFFFF;
  color: #4c9de5;
  border: 1px solid #4c9de5;
  border-radius: 5px;
  cursor: pointer;
        
}
button:hover {
  background-color: #FFFFFF;
}

container {
    max-width: 100vw; /* takes up 100% of the viewport width */
    max-height:100vh; /* takes up 100% of the viewport height */
    width:390px;
    height:50px;
}

.header {
  background-color: #FFFFFF;
  max-width:100vw;
  max-height:100vh;
  width:390;
    height:50px;
  display: inline-block;
  justify-content: space-between;
  align-items: left;
  color: #FFFFFF;
  font-size: 1em;
}

.header icons i {
  margin-left: 20px;
}

/* Content */
.content h1 {
  color: #333;
  text-align:left;
  
}


/* info */
.info {
       background-color: #FFFFFF;
  max-width:100vw;
  max-height:100vh;
  width:auto;
    height:10%;
}
.info p {
  display: flex;
  font-size:1em;
  justify-content: space-between;
  align-items: left;
  width:auto;
    height:auto;
  max-width:100vw;
  max-height:100vh;
}
.info strong {
    disply:flax;
    font-size:1em;
    font-weight:600;
    color:#333;
    padding:5px;
    margin-block:50px
    width:auto;
    height:auto;
    max-width:100vw;
    max-height:100vh;
 
}

.info span {
  disply:flex;
  color:#1139;
  justify-content: space-between;
  font-size:1em;
  font-weight:400;
  margin-top:20px;
  margin-left:4px;
  width:auto;
    height:auto;
  max-width:100vw;
    max-height:100vh;
}

.info p2 {
  display: flex;
  font-size:1em;
  justify-content: space-between;
  align-items: left;
  width:auto;
    height:auto;
  max-width:100vw;
    max-height:100vh;
}

.info span1 {
  disply:inline-block;
  color: #1139;
  font-size:1em;
  font-weight:400;
  margin-top:0;
  margin-left:5px;
  max-width:100vw;
  max-height:100vh;
  width:auto;
    height:auto;
  
}

.info h3 {
   disply:flax;
    font-size:1em;
    font-weight:600;
    color:#333;
    padding:0 5px;
    margin-left:0;
    margin-top:5px;
    max-width:100vw;
    max-height:100vh;
    width:auto;
    height:auto;
}



/* Section Title */
.section-title {
  color: #007bff;
  font-size: 1em;
  font-weight:400;
  margin-bottom:10px;
  display: inline-block;
  background-color: #FFFFFF;
  width:auto;
  height:auto;
  max-width:100vw;
  max-height:100vh;
}

/* Payment Options */
.payment-options {
  background-color: #FFFFFF;
  max-width:100vw;
  max-height:100vh;
  width:100%;
  height:100%;
}

.payment-options label {
  width:100%;
  height:10%;
  display: flex;
  background-color: #FFFFFF;
  max-width:100vw;
  max-height:100vh;
  align-items: left;
  padding:5px;
  margin-top:1px;
  margin: 20px 0;
}

.payment-options img {
  background-color: #FFFFFF;
  max-width:100vw;
  max-height:100vh;
  height:auto;
  margin-right:100px;
  margin-top:0px;
  margin-left:70px;
}

/* UTR Instruction */
.utr-instruction {
  color: #007bff;
  margin-top:20px;
  margin-bottom:10px;
  font-size: 1em;
  font-weight:400;
  background-color: #FFFFFF;
  max-width:100vw;
  max-height:100vh;
  min-width:100px;
  width:100%;
  height:100%;
}

.inline-elements {
  display:flex;
  width:100px;
  height:20px;
  padding:20px;
  font-size:1em;
  background-color: #FFFFFF;
  max-width:100vw;
  max-height:100vh;
  margin-right:30px;
  font-weight:300;
  color:rgba(0, 0, 0, 0.5);;
}
.inline-elements input {
  display: flex;
  width:100%
  height:30px
  padding:10px;
  margin-left:40px;
  align-items:right;
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
  font-size: 1em;
  outline: none;
  color: #333;
  background-color: #FFFFFF;
  max-width:100vw;
  max-height:100vh;
}
.inline-elements input:placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.inline-elements input:placeholder:hover {
    background-color: rgba(0, 0, 0, 0.0);
}
.inline-elements span {
  disply:flex;
  color: #333;
  margin-bottom:10%;
  font-size:1em;
  font-weight:400;
  text-align:right;
  margin-left:
  background-color: #FFFFFF;
  width:2%;
  height:8%;
  max-width:100vw;
  max-height:100vh;
  }
  
/* Submit Button */
.submit-btn {
  width:100%;
  height:25%;
  padding:5%;
  background-color: #1989f9;
  color: white;
  border: none;
  border-radius:50px;
  font-size: 1em;
  font-weight:300;
  margin-top: 5px;
  margin-bottom:10px;
  max-width:100vw;
  max-height:100vh;
}
.submit-btn:hover {
    background-color: #1989f9;
}

.error-btn {
  width:100%;
  height:25%;
  padding:5%;
  background-color: #FFFFFF;
  color:#FFFFFF;
  border: none;
  font-size:1em;
  font-weight:300;
  margin-bottom:5px;
}
.error-btn:hover {
    background-color: #FF0000;
}


/* Notification Popup */
.notification {
  width: 100%;
  font-size:1.2em;
  position: fixed;
  top: 1%;
  left: 50%;
  right: 50%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px 15px;
  border-radius: 5px;
  display: none;
  animation: slideIn 1s ease, fadeOut 1s ease 3s;
}

.notification.error {
  background-color: #ff1a1a;
}

@media (min-width:400px) and (max-width:100vw) {
    .body {
        padding:0% 1%;
        background-color: #FFFFFF;
        max-width:100vw;
        max-height:100vh;
        min-width:400px;
        min-height:50px;
}

@media (min-height:50px) and (max-height:100vh) {
    .body {
        padding:0% 1%;
        background-color: #FFFFFF;
        max-width:100vw;
        max-height:100vh;
        min-width:100%;
        min-height:50px;
}
@keyframes slideIn {
  from { 
    opacity:1; 
    top: 1px; 
  }
  to { 
    opacity: 1; 
    top: 1px; 
  }
}

@keyframes fadeOut {
  from { 
    opacity: 1; 
  }
  to { 
    opacity: 1; 
  }
}